.carousel-wrap{
    position: relative;

    .arrow-left{
        position: absolute;
        color: rgb(63, 63, 63);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.341);
        top: calc(50% - 20px);
        left: -25px;
        border: 1px solid rgba(0, 0, 0, 0.249);
        cursor: pointer;
        z-index: 999;
    }

    .arrow-right{
        position: absolute;
        color: rgb(63, 63, 63);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.341);
        top: calc(50% - 20px);
        right: -25px;
        border: 1px solid rgba(0, 0, 0, 0.249);
        cursor: pointer;
        z-index: 999;
        
    }
    
    .active{
        background-color: rgba(255, 255, 255, 0.723);
        color: rgb(0, 0, 0);
    }
}
