header{
    position: fixed;
    height: 60px;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left: 240px;
    line-height: 60px;
    // display: flex !important;
    // align-items: center;
    
    .wrap{
        display: flex;
        margin: 0 50px;
        justify-content: space-between;
    }

    .search{
        display: flex;
        align-items: center;
        margin: 0 10px;
    }

    .right-wrap,
    .left-wrap{
        display: inline-flex;
        align-items: center;
    }
}