.RankPage-banner{
    font-family: "DynaPuff", system-ui;
    text-align: center;
    margin-bottom: 50px;
    
    p{
        font-size: 5em;
        background: linear-gradient(90deg, #2E1F80 0%, #5F378D 47%, #7B4595 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}