.navbar-item{
    span{
        display: flex;
        align-items: center;
        margin-left: 20px;

        p{
            margin-left: 10px;
            font-size: .9em;
            width: 140px;

        }
    }

    i{
        svg{
            width: 24px;
            height: 24px;
            font-weight: 400;
            color: var(--sub-t-color);
            display: none;
        }

    }

    a{
        color: var(--sub-t-color);
    }

    &:hover{
        svg{
            display: block !important;
        }

        a{
            color: var(--main-t-color) !important;
        }
    }
}

.focus{
    background-color: var(--nav-hover-color);
    
    a{
        color: var(--main-t-color) !important;
    }
}