@mixin subText(){
    font-size: .8em;
    color: var(--t-color2);
}

@mixin lineHeight(){
    line-height: 1.5em;
}

.songItemType2-wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 5;
    width: 100%;
}

.song{
    display: flex;
    position: relative;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--alpha-bg);

    .song-img{
        position: relative;
        margin-right: 5px;
        
        img{
            width: 40px;
            height: 40px;
        }
    }

    .song-info{
        p.songName{
            margin: unset;
            font-size: .9em;
            font-weight: 600;
            @include lineHeight();
        }

        .singerName{
            display: flex;
            @include lineHeight();
            
            a.singerName1{
                @include subText();
                margin-right: 3px;

                &:hover{
                    color: var(--pp-color);
                    text-decoration: underline;
                }
            }
        }
    }

    .songTime{
        @include subText();
        position: absolute;
        right: 10px;
    }

    .timeUpdated{
        @include subText();
        @include lineHeight();
        margin: unset;
    }

    .other-opt{
        font-size: .9em;
        color: white;
        display: none;
        position: absolute;
        right: 10px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;

        &::after{
            content: "Khác";
            position: absolute;
            background-color: var(--primary-color);
            display: flex;
            align-items: center;
            text-align: center;
            padding: 3px 5px;
            border-radius: 3px;
            top: -30px;
            font-size: .8em;
            left: -4px;
            display: none;
        }

        &::before{
            content: "";
            position: absolute;
            border-top: 7px solid var(--primary-color);
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-radius: 3px;
            top: -11px;
            display: none;
        }

        &:hover{
            background-color: var(--grey-color);
            &::after{
                display: block;
            }

            &::before{
                display: block;
            }
        }

    }

    &:hover{
        background-color: var(--alpha-bg);
        cursor: pointer;

        img{
            opacity: .4;
        }

        span{
            display: flex;
        }

        .songTime{
            display: none;
        }

        .other-opt{
            display: flex;
        }
    }
}