.search-wrap{
    width: 440px;
    height: 40px;
    color: var(--t-color2);
    background-color: var(--alpha-bg);
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    position: relative;


    i{
        margin-left: 10px;
        margin-right: 5px;
    }

    input{
        margin-right: 10px;
        width: 100%;
        background-color: transparent;
        outline: transparent;
        border-color: transparent;
        position: relative;
    }
}