.banner-wrap{
    display: flex;
    justify-content: space-between;

    span{
        flex: 1;
        border-radius: 5px;
    }

    img{
        border-radius: 5px;
        height: auto;
        max-height: 400px;
        width: 100%;
    }
}