.radioItem-wrap{
    overflow: hidden;
    column-gap: 12px;
}

.radioItem{
    margin-top: 30px;
    position: relative;

    .radioImg1{
        position: relative;
        width: 160px;
        height: 160px;
        overflow: hidden;
        border: 1px solid red;
        border-radius: 50%;
        cursor: pointer;

        .mainImg{
            position: absolute;
            width: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            background-color: aqua;

            &:hover{
                width: 180px;
                transition: .5s;
            }
        }

    }

    .radioImg2{
        position: absolute;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid red;
        overflow: hidden;
        right: 0;
        bottom: 56px;
        text-align: unset;
        z-index: 3;
        
        .subImg{
            width: 70px;
            position: absolute;
        }
    }

    .radioInfo{
        text-align: center;

        p{
            margin-top: 5px;
            font-size: 1.4em;
            color: var(--t-color);
            font-weight: 600;
            margin-bottom: 5px;
        }

        span{
            font-size: .9em;
            color: var(--t-color2);
        }
    }
}