.homeRankList-item{
    padding: 15px;
    border-radius: 5px;
    background-color: var(--alpha-bg);
    display: flex;
    flex: 0 0 32.333%;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    
    .wrap{
        display: flex;
        width: 100%;
    }
    
    p{
        margin: unset;
    }

    .img{
        position: relative;
        height: 120px;
        width: 120px;
        z-index: 1;
        cursor: pointer;
    }
    
    img{
        border-radius: 5px;
        width: 120px;
        height: 120px;
    }

    &:hover{
        img{
            opacity: .5;
        }

        span{
            display: block;
            color: white;
            font-size: 1.3em;
            z-index: 2;
        }
    }
}


.info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    min-width: 0;
    

    .top{
        color: var(--main-t-color);
        font-size: 1em;

        a{
            color: var(--t-color2);
            font-size: .8em;
            cursor: pointer;

            &:hover{
                color: var(--pp-color);
                text-decoration: underline;
            }
        }
    }

    .bot{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: end;
        color: var(--t-color2);

        span{
            font-size: 3em;
            -webkit-text-stroke: 1px var(--color-text-stroke);
            color: var(--t-color2);
            color: transparent;
            line-height: 1;
            font-weight: 900;
            opacity: .4;
        }

        p{
            line-height: 1.5;
        }
    }
}