.topNumber{
    -webkit-text-stroke: 1px var(--color-text-stroke);
    color: transparent;
    font-size: 2em;
    font-weight: 700;
    margin-right: 20px;
    margin-left: 20px;
    width: 50px;
    text-align: center;
}